<div class="controls" *ngIf="controlsVisible">
    <form #loginForm="ngForm" (ngSubmit)="login()" *ngIf="!loggedIn">
        <input type="password" name="password" [(ngModel)]="password" #passwordInput="ngModel" required />
        <button type="submit">Connection</button>
        <button (click)="closeControls()" *ngIf="!loggedIn">X</button>
    </form>
    <button (click)="logout()" *ngIf="loggedIn">Logout</button>
    <button (click)="reset()" *ngIf="loggedIn">Reset</button>
    <button (click)="undo()" *ngIf="loggedIn">Undo</button>
    <form #namesForm="ngForm" (ngSubmit)="updateNames()" *ngIf="loggedIn">
        <input type="text" name="whiteName" placeholder="White" [(ngModel)]="whiteName" #whiteNameInput="ngModel" required />
        <input type="text" name="blackName" placeholder="Black" [(ngModel)]="blackName" #blackNameInput="ngModel" required />
        <button type="submit">Update names</button>
    </form>
</div>
<div class="tchat">
    <div class="messages">
        <div *ngFor="let message of tchatMessages">
            <span class="datetime">{{message.datetime | date:'HH:mm:ss'}} | </span>
            <span class="text">{{message.text}}</span>
        </div>
    </div>
    <form class="tchatForm" #tchatForm="ngForm" (ngSubmit)="sendTchatMessage()">
        <input type="text" name="message" [(ngModel)]="tchatInputValue" #messageInput="ngModel" required />
    </form>
</div>
