canvas {
    border: 3px solid rgb(52, 80, 106);
    /* center the canvas horizontally & vertically */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.stats {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 3px;
}

.tchat {
    position: absolute;
    top: 25%;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height: 50%;
    width: 15%;
}

@media screen and (max-width: 1145px) {
    .stats {
        font-size: 16px;
    }
    .tchat {
        top: 95%;
        left: 10%;
        width: 80%;
        height: 20%;
    }
}

@media screen and (max-width: 500px) {
    .tchat {
        top: 75%;
    }
}

.messages {
    height: 90%;
    font-size: 14px;
    overflow-y: scroll;
}

.tchatForm {
    position: absolute;
    bottom: 5px;
    width: calc(100% - 20px);
    input {
        width: calc(100% - 8px);
    }
}
