<div class="controls">
    <form #loginForm="ngForm" (ngSubmit)="login()">
        <input type="password" name="password" [(ngModel)]="password" #passwordInput="ngModel" required *ngIf="!loggedIn" />
        <button type="submit" *ngIf="!loggedIn">Connection</button>
    </form>
    <button (click)="logout()" *ngIf="loggedIn">Logout</button>
    <button (click)="reset()" *ngIf="loggedIn">Reset</button>
    <button (click)="undo()" *ngIf="loggedIn">Undo</button>
    <form #namesForm="ngForm" (ngSubmit)="updateNames()" *ngIf="loggedIn">
        <input type="text" name="whiteName" placeholder="White" [(ngModel)]="whiteName" #whiteNameInput="ngModel" required />
        <input type="text" name="blackName" placeholder="Black" [(ngModel)]="blackName" #blackNameInput="ngModel" required />
        <button type="submit">Update names</button>
    </form>
</div>
